#nav-bar {
    display: flex;
    justify-content: space-around;
}

#main-content {
    display: table;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
}