* {
    box-sizing: border-box;
    font-family: 'Kosugi Maru', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    background-color: rgb(42, 42, 42);
    color: whitesmoke;
    margin: 8px 0px;
}

#content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#title {
    text-align: center;
    font-size: 3.5rem;
}

#nav-bar {
    display: flex;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    justify-content: space-around;
    overflow: hidden;
    flex-wrap: wrap;
}

#nav-bar > li:hover {
    background-color: #111;
    cursor: pointer;
}

#nav-bar > li {
    padding: 16px 0px;
    flex: 1;
    text-align: center;
    flex-basis: 25%;
    list-style-type: none;
    font-size: 2rem;
    border-radius: 10px 10px 0px 0px;
    outline: rgb(42, 42, 42) 2px solid;
}

#main-content {
    display: flex;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-grow: 1;
    justify-content: center;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 75%;
    height: 100%;
    font-size: 2rem;
    text-align: center;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

h2, h3 {
    margin-top: 40px;
    margin-bottom: 0px;
}

.selected {
    background-color: #111;
}

#img-natto {
    width: 400px;
    height: auto;
    box-shadow: rgb(42, 42, 42) 10px 10px 5px;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

form > button, input, textarea{
    border-radius: 10px;
    font-size: 1.5rem;
}

input {
    width: 35%;
    /* flex-basis: 40%; */
    margin: 20px 2.5%;
    height: 40px;
}

@media (max-width: 1000px) {
    input {
        width: 75%
    }
}

textarea {
    width: 75%;
    margin: 20px;
    padding: 5px;
}

button {
    width: 75%;
    height: 60px;
    margin: 20px;
}

#message {
    height: 200px;
    text-align: start;
}

.menu-section-title {
    margin: 50px;
}

.menu-item {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu-item-name, .menu-item-price{
    flex-basis: 50%;
}

.menu-item-name, .menu-item-desc {
    text-align: left;
}

.menu-item-price {
    text-align: right;
}

.menu-item-desc {
    font-size: 1.5rem;
    margin-top: 5px;
    margin-bottom: 20px;
}